/* COMMON */
:root {
  --main-textcolor: #555555;
  --accent-color: #ff6c00;
  --add-textcolor: #9da4bd;
  --add-textcolor-two: #303030;
  --add-font-family: Raleway, sans-serif;
  --margin-bottom-desc: 20px;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
body {
  font-family: "Open Sans", sans-serif;
  color: var(--main-textcolor);
  letter-spacing: 0.02em;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.left-side,
.copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--add-textcolor-two);
}
.left-side .link:hover,
.left-side .link:focus {
  color: var(--accent-color);
}
.overtitle {
  margin-bottom: var(--margin-bottom-desc);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}
.title-section {
  margin-bottom: var(--margin-bottom-desc);
  font-family: var(--add-font-family);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--add-textcolor-two);
}
.dark-bg {
  color: #ffffff;
  background-color: #130d0d;
}
.modal-btn {
  min-width: 160px;
  padding: 12px 20px;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: transparent;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  background-color: transparent;
}
.modal-btn.accent {
  color: var(--add-textcolor-two);
}
.modal-btn:hover,
.modal-btn:focus,
.modal-btn.accent:hover,
.modal-btn.accent:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
/* HEADER */
.header {
  position: absolute;
  width: 100%;
}
.header .container {
  display: flex;
  align-items: center;
}
.main-nav {
  display: flex;
  align-items: center;
}
.wrapper-menu {
  display: flex;
}
.item-menu:not(:last-child) {
  margin-right: 40px;
}
.logo {
  margin-right: 70px;
}
.main-nav .link {
  color: #ffffff;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
}
.main-nav .current {
  color: var(--accent-color);
}
.header .link:hover,
.header .link:focus {
  color: var(--accent-color);
}
.tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
  margin-left: auto;
  margin-right: 40px;
}
/* HERO */
.hero .container {
  display: flex;
}

.left-side {
  display: flex;
  width: 94px;
}
.right-side {
  flex-grow: 1;
  height: 680px;
  padding-top: 270px;
  padding-left: 90px;
  background-image: url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.main-title {
  font-family: var(--add-font-family);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.description-hero {
  font-size: 18px;
  line-height: 1.67;
  color: var(--add-textcolor);
}
/* SECTION ABOUT COMPANY */
.about-company {
  padding-top: 140px;
  padding-bottom: 120px;
}
.about-company .container {
  display: flex;
  justify-content: space-between;
}
.images-about-company,
.right-side-about-company {
  flex-basis: calc((100% - 30px) / 2);
}
.right-side-about-company {
  padding-left: 34px;
}
.images-about-company {
  display: flex;
}
.item-image-about-company:nth-child(1) {
  margin-right: 30px;
}
.advert-slogan {
  max-width: 500px;
  margin-bottom: var(--margin-bottom-desc);
  font-size: 18px;
  line-height: 1.67;
}
.description-about-company {
  margin-bottom: 40px;
  max-width: 480px;
  font-size: 14px;
  line-height: 1.86;
}
/* SECTION SERVICES AND PRICES */
.services-prices .container {
  background-image: url(../images/bg-prices.jpg), #111319;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1200px;
}
.services-items {
  font-size: 18px;
  line-height: 1.67;
  color: var(--add-textcolor);
}
/* SECTION REVIEWS */
.num-reviewes {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--add-textcolor-two);
}
.plus {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: var(--accent-color);
}
.description-num-rev {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--add-textcolor-two);
}
/* OUR MASTERS */
.our-masters {
  padding-top: 130px;
  padding-bottom: 130px;
}
.wrapper-masters {
  display: flex;
}
.item-master {
  flex-basis: calc((100% - 60px) / 3);
}
.item-master:not(:last-child) {
  margin-right: 30px;
}
.master {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  color: var(--add-textcolor-two);
}
.position {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  color: var(--accent-color);
}
/* gallery */
.gallery {
  padding: 130px 0;
}
.gallery .overtitle {
  margin-bottom: 44px;
}
.gallery-list {
  display: flex;
}
.gallery-list-item {
  flex-basis: calc((100% - 90px) / 4);
}
.gallery-list-item:not(:last-child) {
  margin-right: 30px;
}
/* SECTION CONTACTS */
address .link,
.timework {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  color: var(--add-textcolor);
}
.mail {
  text-decoration-line: underline;
}
address .link:hover,
address .link:focus,
footer .link:hover,
footer .link:focus {
  color: var(--accent-color);
}
.contacts .overtitle {
  color: #ffffff;
}
/* FOOTER */
.copy {
  color: var(--add-textcolor);
}
