.contacts {
  background-image:url('../images/bg-footer-mob.png');
  background-size: cover;
  background-color: #191c26;
}
.address {
  margin-top: var(--margin-right);
  margin-bottom: var(--margin-b-mob);
}
.address__list {
  display: flex;
  flex-direction: column;
}
.address__item:not(:last-child) {
  margin-bottom: var(--margin-bottom-desc);
}
.address__item {
  display: flex;
  align-items: center;
}
.address__icon {
  margin-right: 16px;
}
.address__link,
.timework {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  color: var(--add-textcolor);
}
.mail {
  text-decoration-line: underline;
}
.address__link:hover,
.address__link:focus,
footer .link:hover,
footer .link:focus {
  color: var(--accent-color);
}
.contacts .overtitle {
  color: #ffffff;
}