  .gallery .overtitle {
    margin-bottom: var(--margin-b-mob);
  }
  
@media screen and (max-width:767px) {
  .gallery-list__item:not(:last-child) {
    margin-bottom: var(--margin-bottom-cards);
  } 
}
@media screen and (min-width:768px) {
  .gallery-list {
    display: flex;
    flex-wrap: wrap;
      margin-left: -30px;
    margin-bottom: -30px;
  }
  .gallery-list__item {
    width: 330px;
    margin-left: 30px;
    margin-bottom: 30px;
  }  
}