  .gallery .overtitle {
    margin-bottom: 44px;
  }
  .gallery-list {
    display: flex;
    flex-direction: column;
  }
  // .gallery-list-item {
  //   flex-basis: calc((100% - 90px) / 4);
  // }
  .gallery-list__item:not(:last-child) {
    margin-bottom: var(--magin-bottom-cards);
  }