.header {
  position: absolute;
  width: 100%;
  padding-top: 40px;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  margin-right: 70px;
}
@media screen and (max-width:767px) {
  .logo__img {
    fill: #ffffff;
  }
  .mobile-menu {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 500;
    width: 72vw;
    height: 100vh;
    padding-top: 118px;
    padding-left: 50px;
    background-color:#ffffff;
  }
  .mobile-menu.is-open {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .wrapper-menu__link {
    color: var(--add-textcolor-two);
    font-weight: 600;
    font-size: 18px;
    line-height: 1.38;
    letter-spacing: 0.1em;
  }
  .wrapper-menu__item:not(:last-child) {
    margin-bottom: 24px;
  }
 .tel {
    display: block;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.38;
    letter-spacing: 0.1em;
    color: var(--add-textcolor-two);
    margin-bottom: 24px;
  }
  .menu-button, .close-button {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
  }
  .menu-button__icon {
    fill: #ffffff;
  }
  .close-button {
    position: absolute;
    top: 48px;
    right: 30px;
  }
}
@media screen and (min-width:768px) {
  .header {
    position: absolute;
    width: 100%;
    padding-top: 32px;
  }
  .main-nav {
    display: flex;
    align-items: center;
    margin-right: 48px;
  }
  .menu-button, .close-button {
    display: none;
  }
  .mobile-menu {
    display: flex;
    align-items: center;
  }
  .wrapper-menu {
    display: flex;
    min-width: 344px;
    justify-content: space-between;
  }
  .wrapper-menu__item:not(:last-child) {
    margin-right: 25px;
  }
  .wrapper-menu__link, .tel {
    display: block;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: #ffffff;
  }
  .contacts-order {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
  }
  .tel {
    position: absolute;
    bottom: -40px;
   left: 20px;
  }
}
.main-nav .current {
  color: var(--accent-color);
}
.wrapper-menu__link:hover,
.wrapper-menu__link:focus,
.tel:focus,
.tel:hover {
  color: var(--accent-color);
}