.header {
  position: absolute;
  width: 100%;
  padding-top: 40px;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.soc-links {
  display: flex;
}
.soc-links__link {
  font-family: inherit;
font-weight: 600;
font-size: 14px;
line-height: 1.36;
color: var(--add-textcolor-two);
}

.soc-links .link:hover,
.soc-links .link:focus {
  color: var(--accent-color);
}
.soc-links::before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  margin-top: 7px;
  flex-shrink: 0;
  margin-right: 20px;
  background-color:rgba(157, 164, 189, 0.6);
}
@media screen and (max-width:767px) {
   .logo__img {
    fill: #ffffff;
  }
  .hero .soc-links {
    display: none;
  }
  .soc-links-mob .soc-links__item:first-child {
    margin-bottom: 24px;
  }
  .soc-links-mob, .contacts-order {
    padding: 20px 0;
  }
 .mobile-menu {
    // display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 500;
    width: 72vw;
    height: 100vh;
    padding-top: 118px;
    padding-left: 50px;
    background-color: #836e6e;
 }
 .mobile-menu-container {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
 }
 .wrapper-menu__link {
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.38;
  letter-spacing: 0.1em;
}
.wrapper-menu__item:not(:last-child) {
    margin-bottom: 24px;
  }
 .tel {
   display: block;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.38;
  letter-spacing: 0.1em;
  color: #ffffff;
  margin-bottom: 24px;
}
  .menu-button, .close-button {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
  }
  .menu-button__icon {
    fill: #ffffff;
  }
  .close-button {
    position: absolute;
    top: 48px;
    right: 30px;
  }
}
@media screen and (min-width:768px) {
  .soc-links {
  display: flex;
  width: 94px;
}
  .main-nav {
    display: flex;
    align-items: center;
  }
  .menu-button, .close-button {
    display: none;
  }
  .wrapper-menu {
    display: flex;
  }
  .wrapper-menu__item:not(:last-child) {
    margin-right: 40px;
  }
  .wrapper-menu__link {
    font-size: 12px;
    line-height: 1.33;
  }
  .tel {
    font-size: 12px;
    line-height: 1.33;
    margin-left: auto;
    margin-right: 40px;
  }
}
.logo {
  margin-right: 70px;
}

.main-nav .current {
  color: var(--accent-color);
}
.wrapper-menu__link:hover,
.wrapper-menu__link:focus,
.tel:focus,
.tel:hover {
  color: var(--accent-color);
}