.services-prices .container {
    background-image: url(../images/bg-prices.jpg), #111319;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1200px;
  }
  .services-items {
    font-size: 18px;
    line-height: 1.67;
    color: var(--add-textcolor);
  }