:root {
    --main-textcolor: #555555;
    --accent-color: #ff6c00;
    --add-textcolor: #9da4bd;
    --add-textcolor-two: #303030;
    --add-font-family: Raleway, sans-serif;
    --main-font-size:18px;
    --margin-bottom-desc: 20px;
    --margin-bottom-cards:30px;
    --margin-right:40px;
    --margin-b-mob:44px;
  }